@page
@{
    var tasks = new List<string> { "Buy milk", "Buy eggs", "Buy bread" };
}

<h1>Tasks to comlete</h1>
<ul>
    @for (var i = 0; i < tasks.Count; i++)
    {
        var task = tasks[i];
        <li>@i - @task</li>
    }
</ul>
