@page
@model ToDoItemModel

<div>
    @if (Model.IsComplete)
    {
        <strong>Well done, you're all done!</strong>
    }
    else
    {
        <strong>The following tasks remain:</strong>
        <ul>
            @foreach (var task in Model.Tasks)
            {
                <li>@Html.Raw(task)</li>
            }
        </ul>
    }


</div>
